<section>
	<p>These articles are intended for experienced software developers who have some experience with HTML, CSS, and JavaScript, but are less familiar with the web standards that formally define them.  We discuss the state of the web as a platform for application development and examine the languages and frameworks used to deliver web applications.</p>
	<p>Because the web evolves continually, these articles may also be of use to current web developers who wish to refresh themselves on current standards and best practices.</p>
	<blockquote><q>It is a truth universally acknowledged, that a company in posession of a good fortune, must be in want of a web application.</q></blockquote>
</section>
