<section>
	<h1>Tools & Frameworks</h1>
	<p class="todo">First discuss the tasks which tools and frameworks are helping to accomplish (like templating, binding, or making a language more expressive). This is more important than the tools themselves, since tools will come and go over time.</p>
	<h2>Client Tools</h2>
	<ul>
		<li>jQuery</li>
		<li>Underscore</li>
	</ul>
	<h2>Server Tools</h2>
	<ul>
		<li>Cassette</li>
	</ul>
	<h2>Client Frameworks</h2>
	<ul>
		<li>Backbone</li>
		<li>Knockout</li>
	</ul>
	<h2>Client/Server Frameworks</h2>
	<ul>
		<li>Meteor</li>
		<li>Derby</li>
		<li>Firebase</li>
	</ul>
	<h2>Exercise: Building KnockoutJS</h2>
	<p>Examining the source code of knockout.js and rebuilding the core reactivity & templating functionality.</p>
</section>
